body{
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-image: url(images/pattern.png);
}
#mainheader{
    background-color: red;
}
nav{
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px
}
#leftmenu{
    float: left;
    width: 30%;
    margin-bottom: 20px;
}
.searchbox{
    padding: 5px;
    margin: 10px 10px
    width: 200px
}
footer{
    clear: both;
    width: 100%;
    
}
main{
    float:right;
    width: 70%;
}
nav>ul{
    list-style-type: none;
    margin: 0;
     padding: 0;
}
nav>ul>li {
    float: left;
}
nav>ul>li a{
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    text-decoration: none;
}

input[type="email"],select{
    background-color: purple;
    color: white;
}

fieldset{
    border-color: purple;
    border-width: 3px;
    border-style: solid;
}

fieldset>legend{
    color: purple;
}
p>label{
    display: block;
}

input,textarea{
    border-radius: 7px;
}

input:valid{
    border-color: green;
}

input:invalid{
    border-color: red;
}